@keyframes fadeInScale {
    0% {
      opacity: 0.6;
      transform: scale(0.95);
    }
    50% {
      opacity: 1;
      transform: scale(1);
    }
    100% {
      opacity: 0.6;
      transform: scale(0.95);
    }
  }
  
  .form-dialog {
    animation: fadeInScale 1s infinite;
  }